	input[type=submit].give {
    width: 0.72rem;
    height: 0.35rem;
    background-color: #bf5700;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0.024rem;
    top: 0.3368rem;
	}
	.outsidegive{
		display: none;
	}
	.mainmenu{
		display: none;
	}
	.bot{
		display: none;
	}
	.toplevel{
		display: none;
	}
	.toplevel1{
		display: none;
	}
	.topicon{
		display: none;
	}
	.mobileicon{
		width: 2.4rem;
		margin:2% 0% 2% 15%;
	}
	#mobilemenu{
		width: 0.625rem;
		margin:-7% 2% 2% 2%;
	}
	#close{
		width: 0.24rem;
	}
	.down{
		width: 0.24rem;
		height: 0.19248rem;
		float: right;
		margin-right: 0.14436rem;
	}
	.utlogo{
		display: none;
	}
	.stripe{
		width: 6.400rem;
		margin-bottom: 0.24rem;
	}
	.video{
		width: 6.400rem;
	}
	.title{
		font-family: 'Arial Normal', 'Arial';
 	    font-size: 0.24rem;
 	    color: #333333;
  	    text-align: center;
  	    width: 6.400rem;
	}
	.link{
		font-family: 'Arial Normal', 'Arial';
        font-size: 0.19248rem;
	    color: #BF5700;
	    text-align: center;

	}
	.links{
		background-color: #f1f1f1;
		padding-top: 0.024rem;
		padding-bottom: 0.024rem;
		width: 4.81203rem;
		margin-left: 0.7699rem;
	}
	.rectangle{
			width: 0.72rem;
			height: 0.433rem;
			border: 0.024rem solid #bf5700;
			text-align: center;
			font-weight: bold;
			padding-top: 0.21654rem;
			float: left;
			font-family: 'Arial Negreta', 'Arial';
  		    font-size: 0.19248rem;
   		    color: #BF5700;
		}
	h2{
		font-family: 'Arial Negreta', 'Arial';
		font-size: 0.24rem;
		color: #BF5700;
	}
	.event{
		margin-left: 1.4436rem;
	}
	.p2{
		font-family:'Arial Negreta', 'Arial';
		color: #6b6b6b;
		font-size: 0.14436rem;
		margin-top: -0.14436rem;
	}
	.event1{
		margin-left: 0.9624rem;
	}
	.a3{
			color: #0099FF;
			font-family: 'Arial Regular', 'Arial';
    		font-size: 0.19248rem;
   	 		text-decoration: none;
    		margin-top: 0.024rem;
    		margin-left:4.81203rem;
		}
		.a2{
			color: #0099FF;
			font-family: 'Arial Regular', 'Arial';
    		font-size: 0.19248rem;
   	 		text-decoration: none;
    		margin-top: 0.024rem;
    		margin-left:4.09rem;
		}
	.map1{
			width: 2.4rem;
			margin-left: 1.9248rem;
	}
	.storypic1{
			width: 2.4rem;
			margin-left: 1.9248rem;
	}
	.leftp1{
			font-family: 'Arial Regular', 'Arial';
    		font-size: 0.19248rem;
    		color: #333333;
    		width: 2.4rem;
    		margin-left: 1.9248rem;
		}

	.storypic{
		display: none;
	}
	.leftp{
		display: none;
	}
	.mapstripe{
			margin-top: 0.4812rem;
			width: 5.67819rem;
			height: 3.3684rem;
			background-color: #515151;
			position: relative;
			padding-top: 0.1203rem;
			padding-left: 0.72rem;
		}
		.mapstripe1{
			margin-top: 0.4812rem;
			width: 5.67819rem;
			height: 4.7rem;
			background-color: #515151;
			position: relative;
			padding-top: 0.1203rem;
			padding-left: 0.72rem;
		}
	.bottommini{
		display: none;
	}
	h3{
		font-family: 'Arial Negreta', 'Arial';
		font-size: 0.24rem;
		color: #ffffff;
		margin-left: 1.203rem;
		background-color: #515151;
	}
	.map{
		width: 4.81203rem;
		height: 2.4rem;
		position: absolute;
		bottom: 0.24rem;
	}
	.picbox{
		display: none;
	}
	.og_prev{
		display: none;
	}
	.og_next{
		display: none;
	}
	.social{
		margin-left: 0.72rem;
		width: 4.5714rem;
	}
	.logo{
		     display: none;
		}
	.logosub{
		width: 2.4rem;
		margin-left: 1.203rem;
		margin-top: 0.1203rem;
	}
	.bottomli{
				width: 2.4rem;
				height: 2rem;
 			    font-size: 0.24rem;
  			    color: #BF5700;
  			    font-family: 'Arial Bold', 'Arial';
  			    text-align: center;
		float: left;
		}
	.insideli{
		width: 1.4436rem;
		margin-left: 0.4812rem;
	}
	.bottommini{
		text-align: center;
		margin-top: -0.9624rem;
		width: 2.4rem;
		font-size: 0.16842rem;
		color:#FFFFFF;
		font-family: 'Arial Light', 'Arial';
		font-weight: 200;
		display: inline;
		line-height: 0.24rem;
	}
	.bottommini2{
		text-align: center;
		margin-top: -0.9624rem;
		width: 2.4rem;
		font-size: 0.16842rem;
		color:#FFFFFF;
		font-family: 'Arial Light', 'Arial';
		font-weight: 200;
		display: inline;
		line-height: 0.24rem;
	}

input[type=text].mobilesearch {
	width: 1.3248rem;
	height: 0.3rem;
		margin-top: 0.096rem;
		border: 1px solid #c9c9c9;
		border-radius: 0.03rem;
		background-image: url('../Images/icons8-search_filled.png');
		background-size: 0.21654rem;
		background-position: 0.10586rem 0.07218rem; 
		background-repeat: no-repeat;
		padding: 0.08rem 0.3rem 0.05rem 0.427rem;
		font-family: 'Arial Normal', 'Arial';
    	font-weight: 400;
   	 	font-size: 0.19248rem;
   	 	color: #BCBCBC;
	}

input[type=text].email{
   		margin-top: 0;
   		margin-left: 0rem;
   		margin-bottom: 0.1203rem;
   		width: 1.203rem;
	   	height: 0.2887rem;
	}

	input[type=submit] {
    width: 1.203rem;
    height: 0.2887rem;
    background-color: #bf5700;
    color: white;
   	margin-top: 0.072rem;
   	margin-left: -0.04812rem;
    border: none;
    cursor: pointer;
	}
	.nodisplay{
		display: none;
	}


	#volet {

   width: 3.1278rem;
   height: 12.03rem;

   padding: 0.096rem 0.096rem 0.096rem 0.24rem;
   background: #bf5700; 
	font-size: 0.19248rem;
	color:#FFFFFF;
	font-family: 'Arial Light', 'Arial';
	font-weight: 400;
  }

  

   #volet {

   position: absolute;

   left: -3.609rem;  /* test fixed + scroll, on retire la position top */

   -webkit-transition: all .5s ease-in;

   -moz-transition: all .5s ease-in;

   transition: all .5s ease-in;

  }

  #volet p{
  	border-top: 2px solid #f8971f;
  	padding: 0.16842rem 0 0 0.24rem;
  	margin: 0.19248rem -0.09rem -0.07218rem -0.24rem;

  }

  #volet a.fermer{

  	 position: absolute;

   	 right: 0.14436rem;

     top: 0.24rem;
  }

  #volet a.ouvrir{
   position: absolute;

   right: -0.8421rem;

   top: 0.16842rem;

  }

  #volet a.fermer {

   display: none;

  }

  #volet:target {

   left: 0;

  }
   /* code pour la fermeture */
  #volet:target a.fermer {

   display: block;

  }

  #volet:target a.ouvrir {

   display: none;

  }

  #volet_clos:target #volet {

   left: -3.609rem;

  }

  

   /* test fixed + scroll */

  #volet_clos {

   position: fixed; 

   top: 0; left: 0;

  }